<div class="interface-form">
  <div class="how-to">
    <i class="fas fa-ban"></i>
    <span>{{localize "theme-glass.settings.hide-interface-form.how-to"}}</span>
  </div>
  <hr />
  <form>
    <div class="form-group components-header">
      <label>Component</label>
      <label class="push-right">{{localize "USER.RolePlayer"}}&nbsp;|</label>
      <label>&nbsp;{{localize "USER.GM"}}</label>
    </div>
    {{#each components}}
      <div class="form-group">
        <label>{{this}}</label>
        {{#with @key as | key |}}
          {{#with (lookup ../../values [key])}}
            <input type="checkbox" name="{{key}}.player"  {{#if player }}checked{{/if}} />
            <input type="checkbox" name="{{key}}.gm" {{#if gm }}checked{{/if}} />
          {{/with}}
        {{/with}}
      </div>
    {{/each}}
    <hr />
    <footer class="flexrow">
      <button type="submit" name="submit">
        <i class="fas fa-save"></i>{{localize "Save Changes"}}
      </button>
    </footer>
  </form>
</div>